{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="path/to/node_modules/tailwindcss/dist/tailwind.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="myproject\templates\Static\css\dash.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <title>Pet Adoption</title>

  </head>
  <body>
    <header>
      <div class="banner h-6">Let us begin with your pet adoption journey</div>
  
      <nav class="shadow-xl flex justify-between px-10">
          <div id="logo">
              <svg width="40" height="32" viewBox="0 0 40 32" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <!-- ... your SVG path data ... -->
              </svg>
              Furry <br />paws
          </div>
  
          <ul class="flex justify-between w-3/5">
              <div class="flex flex-row space-x-8">
                  <li>
                      <a href="/aboutus/">About Us</a>
                  </li>
  
                  <li>
                      <a href="/contact_view/">Contact Us</a>
                  </li>
              </div>
  
              {% if user.is_authenticated %}
                  <!-- User is logged in, show logout button -->
                  <div class="flex flex-row space-x-8 mr-36">
                      <li>
                          <a href="/logout_view/">Logout</a>
                      </li>
                  </div>
              {% else %}
                  <!-- User is not logged in, show login and signup buttons -->
                  <div class="flex flex-row space-x-8 mr-36">
                      <li>
                          <a href="/login_view/">Login</a>
                      </li>
  
                      <li>
                          <a href="/signup/">Sign-Up</a>
                      </li>
                  </div>
              {% endif %}
          </ul>
      </nav>
  </header>
    <section class="hero ">
      <h1>Your One-Stop To Find your Companion!</h1>  

      <button class=" text-3xl font-semibold text-[#45413e] "> #Donate </button>   
    </section>

    <section>
      <h2 class="-mt-6">BROWSE PETS</h2>

      <ul class="shop-pets ">

        <a href="{% url 'showpets' %}">
        <li class="card-large card-light h-64" id="sup-dog">

          <div class="card-image">
            <img src="https://imgs.search.brave.com/hsqhm4TVvtbv_t5Xj5yvD5GTrWLmfoSdNcjyitmgeSE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9kb2ct/MTU2OTc2MDEuanBn" />
          </div>
          <ul class="text-center mr-16 ml-16 ">
            DOGS
            
            
          </ul>
        </li>
      </a>

      <a href="{% url 'showcats' %}">
        <li class="card-large card-dark h-64" id="sup-cat">
          <div class="card-image">
            <img src="https://post.healthline.com/wp-content/uploads/2020/07/petting_pet_cat-1296x728-header.jpg" />
          </div>
          <ul class="text-center mr-16 ml-16 ">
            CATS
                      
          </ul>
        </li>
      </a>

      <a href="{% url 'showbirds' %}">
        <li class="card-large card-dark h-64" id="sup-bird">
          <div class="card-image">
            <img src="https://imgs.search.brave.com/8Sndr-Iq2jsa4YDHAaZ7WOk9KSaLxJjcQWjs9Dr_ytY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNjE0/NzE1ODQyL3Bob3Rv/L3R3by1zaW1pbGFy/LWJpcmRzLXRpdG1v/dXNlLXNpdHRpbmct/b24tYS1icmFuY2gu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PU1XbEwxVEh1Qy1r/QW9CNlRDOVZnYktf/SXg1Vm1yd2ZiQlhw/NlNQRm93TDQ9" />
          </div>
          <ul class="text-center mr-16 ml-16 ">
            BIRDS                     
          </ul>
        </li>
      </a>

      <a href="{% url 'show_more' %}">
        <li class="card-large card-light h-64" id="sup-fish">
          <div class="card-image">
            <img src="https://imgs.search.brave.com/lb2Tf4t7vQRBXx8yVAKyGKLo_xFX0MPtdA7i09cFtkk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDcz/MDEyNjYwL3Bob3Rv/L2dyZXktc3F1aXJy/ZWwteWF3bmluZy5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/NXp5b1FPTHJDQnRR/cEpIN1UtZElVN3k1/QkpOOURBaUdFRDN0/ODc5dTJSUT0" />
          </div>
          <ul class="text-center mr-16 ml-16 ">
            OTHERS
               
          </ul>
        </li>
      </a>

      </ul>
    </section>
<!-- donation form  -->
<div class="flex md:justify-evenly bg-[#f6edeb] lg:mr-40 lg:ml-40 md:mr-20 md:ml-20 sm:mr-20 sm:ml-20 h-72 mt-0  rounded-lg border border-db7f67 hover:shadow-xl p-6 transition-all duration-500">
  <div>
      <p class="lg:text-4xl md:text-3xl sm:text-3xl text-[#45413e] font-semibold">   
          Paws for a Cause: <br>
          Unleash Love, Support, and Help Provide <br> Fur-ever Homes with Your Donation!
      </p>
      <p class="text-white text-4xl">
          <a href="{% url 'save_donateInfo' %}">donate</a>
      </p>
  </div>

  <div class=" flex justify-center:ml-20 md:10 sm:10 ">
      <img src="{%static 'image/adoptm.png'%}" alt="" class=" lg:w-80 md:64 sm:64 h-auto rounded-lg">
  </div>
</div>


<!-- ---------------------- -->
    <section>
      <h2>Our Services</h2>

      <ul class="services">
        
        <li class="card-large card-dark card-wide" id="serv-groom">
        
          <div class="card-image">
            <img src="https://glenoakanimalhospital.com/wp-content/uploads/2018/06/car-at-shelter-with-man-GO-shutterstock_1773024227.jpg" style="border-radius: 20px" />
          </div>
          <ul>
            Frequently Asked Questions <span class="subtitle"
              ></span
            >
            <li><a href="/faq/">Make the adoption transition as smooth as possible</a></li>
            
            <button class="btn-filled-dark">
              <span class="material-symbols-outlined"> calendar_month </span
              >READ
            </button>
          </ul>
        </li>
        <li class="card-large card-dark card-wide " id="serv-board">
          <div class="card-image">
            <img src="https://i0.wp.com/hope4astreetdog.org/wp-content/uploads/2019/10/animal-cat-cute-46024.jpg?resize=780%2C437&ssl=1" />
          </div>
          <ul>
            CHECKLIST FOR NEW ADOPTERS<span class="subtitle"
              ></span>           
            <li style="margin: 2px;"><a href="#">GET ANSWERS TO ALL THE QUESTIONS YOU AVENOT THOUGHT OF FOR YOUR ADOPTION.</a></li>

            <button class="btn-filled-dark">
              <span class="material-symbols-outlined"> calendar_month </span
              >READ
            </button>
          </ul>
        </li>
      </ul>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script src="Static\javascript\dash.js"></script>

  
      <footer id="footer" class="footer  ">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="copyright ">
                &copy; FURRY PAWS - <strong><span>Home to many Animals and a place for ADOPTION</span></strong>
              </div>
            </div>
            <div class="col-md-6">
           
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>