{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link src="nav.css">
  </link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>


  <link rel="stylesheet" type="text/css" href="{% static 'css/showpets.css' %}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Tinos:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">

  <!-- Example paths, adjust based on your project structure -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/components.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/utilities.css' %}">

</head>

<body class="flex flex-col min-h-screen">
  <header>
    <div class="banner h-6">Let us begin with your pet adoption journey</div>

    <nav class="shadow-xl flex justify-between px-10">
      <div id="logo">
        <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.8 32H0V21.9849C0 17.1239 4.0116 13.1839 8.96 13.1839H15.2V0.468341C15.2 0.251458 15.3792 0.0754376 15.6 0.0754376C15.7184 0.0754376 15.8308 0.127301 15.9068 0.216883L17.3616 1.92719C18.402 1.07577 19.74 0.563816 21.2 0.563816H22C23.442 0.563816 24.7656 1.06359 25.8 1.89654L27.2932 0.14066C27.3692 0.0514706 27.4812 0 27.6 0C27.8208 0 28 0.175628 28 0.392904V15.3896H23.36C17.528 15.3896 12.8 20.0337 12.8 25.7623V32Z"
            fill="#45413E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M29.76 17.0569V12.0875C29.76 12.0836 29.76 12.0797 29.76 12.0758V6.79004C29.76 6.57435 29.9392 6.4 30.16 6.4C30.266 6.4 30.3676 6.44095 30.4424 6.51389L31.9576 7.98784C32.7864 7.42501 33.7936 7.09504 34.88 7.09504C35.97 7.09504 36.9808 7.42735 37.8112 7.99369L39.3176 6.52793C39.3924 6.45499 39.494 6.41404 39.6 6.41404C39.8208 6.41404 40 6.58878 40 6.80408V23.2632C40 28.0883 35.9884 32 31.04 32H14.4V25.7938C14.4 20.969 18.4116 17.0569 23.36 17.0569H29.76Z"
            fill="#45413E" />
        </svg>
        Furry <br />paws
      </div>

      <ul class="flex justify-between w-3/5">
        <div class="flex flex-row space-x-8">
          <li>
            <a href="/aboutus/">About Us</a>
          </li>

          <li>
            <a href="/contact/">Contact Us</a>
          </li>
        </div>

        <div class="flex flex-row space-x-8 mr-36">
          <li>
            <a href="/login/">LOGIN</a>
          </li>

          <li>
            <a href="/signup/">SIGN-UP</a>
          </li>
        </div>
      </ul>
    </nav>

  </header>
  <div class="flex pl-20p ml-10 pt-10 pr-10 ">
    <div class="bg-white rounded-lg shadow-lg border border-[#db7f67] ">

        <p class="font-serif text-4xl font-semibold font- pt-8 ml-8"> Frequently asked Questions </p>

        <!-- head1 questi -->
        <div class=" px-8 hover:bg-[#]">
            <p class=" mt-7 text-2xl font-medium"> How Do I Search For a Pet? </p>
            <p class=" text-xl pt-5 font-normal"> furrypaws.com is a searchable list of pets from our shelter. To find an adoptable pet, you can
                 begin your search using “Find a Pet” located above. Since Petfinder is updated regularly, we recommend that
                  you keep checking back or create a saved search email alert to be notified when new pets matching your search 
                  criteria are added to the site.</p>
        </div>

        <div class="px-8">
            <p class=" mt-7 ml-8 text-xl "> Is the Pet I See on Petfinder Still Adoptable? </p>
            <p class=" ml-8 text-lg pt-5"> furrypaws.com is a searchable list of pets from our shelter. To find an adoptable pet, you can
                 begin your search using “Find a Pet”  located above. Since Petfinder is updated regularly, we recommend that
                  you keep checking back or create a saved search email alert to be notified when new pets matching your search 
                  criteria are added to the site.</p>
        </div>

        <div class="px-8">
            <p class=" mt-6 ml-8 text-xl "> Can I Save My Search or Be Notified When New Pets Are Available? </p>
            <p class=" ml-8 text-lg pb-6 pt-5"> To be notified by email when pets matching your search criteria are first posted on the site,
                 use our saved search feature. After performing a search, you will see a button with a bell icon to the right of your search results. 
                 Click on this button to set an email alert for your search.</p>
        </div>
       

    </div>

    <div class="pr-10"> 
      <a href="/showpets/">
        <button class="DOG  ml-14  justify-center items-center  bg-white w-64 h-84  mt-30p hover:bg-[#6D6875] hover:text-white rounded-lg custom-border shadow-2xl" id="view_all"> 
          <div class="flex flex-col">
              <img src="{%static 'image/carr.jpg'%}" class=" h-64 rounded-lg">
              <div class="m-2">VIEW DOGS AVAILABLE RIGHT NOW.</div>
          </div>
      </button>
       </a>
       <a href="/showcats/">
        <button class="DOG mt-10 ml-14  justify-center items-center  bg-white w-64 h-84  mt-30p hover:bg-[#6D6875] hover:text-white rounded-lg custom-border shadow-2xl" id="view_all"> 
          <div class="flex flex-col">
              <img src="{%static 'image/carr.jpg'%}" class=" h-64 rounded-lg">
              <div class="m-2">VIEW CAtS AVAILABLE RIGHT NOW.</div>
          </div>
      </button>
       </a>
    </div>
  </div>

  
  <div class="bg-white border border-[#db7f67] rounded-lg shadow-3xl m-12">
    <!-- head1 questi -->
    <div class=" pt-2 px-8">
        <p class=" mt-6 text-2xl font-medium "> Is the Pet I See on Petfinder Still Adoptable? </p>
        <p class=" text-xl"> furrypaws.com is a searchable list of pets from our shelter. To find an adoptable pet, you can
             begin your search using “Find a Pet” located above. Since Petfinder is updated regularly, we recommend that
              you keep checking back or create a saved search email alert to be notified when new pets matching your search 
              criteria are added to the site.</p>
    </div>

    <div class="px-8">
        <p class=" mt-6 ml-8 text-xl "> Is the Pet I See on Petfinder Still Adoptable? </p>
        <p class=" ml-8 text-lg"> furrypaws.com is a searchable list of pets from our shelter. To find an adoptable pet, you can
             begin your search using “Find a Pet” <br> located above. Since Petfinder is updated regularly, we recommend that
              you keep checking back or create a saved <br>search email alert to be notified when new pets matching your search 
              criteria are added to the site.</p>
    </div>

    <div class="px-8">
        <p class=" mt-6 ml-8 text-xl "> How Do I Search For a Pet? </p>
        <p class=" ml-8 text-lg pb-10"> furrypaws.com is a searchable list of pets from our shelter. To find an adoptable pet, you can
             begin your search using “Find a Pet” <br> located above. Since Petfinder is updated regularly, we recommend that
              you keep checking back or create a saved <br>search email alert to be notified when new pets matching your search 
              criteria are added to the site.</p>
    </div>
   

    </div>

    
    <script> 
    document.getElementById('homeButton').addEventListener('click', function() {
        // Change the URL to the home page URL
        window.location.href = 'nav.html';
    });
    </script>    

<script> 
    document.getElementById('view_all').addEventListener('click', function() {
        // Change the URL to the home page URL
        window.location.href = 'dash.html';
    });
    </script>  

  </body>
</html>