{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link src="nav.css">
  </link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>


  <link rel="stylesheet" type="text/css" href="{% static 'css/showpets.css' %}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Tinos:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">

  <!-- Example paths, adjust based on your project structure -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/components.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/utilities.css' %}">

</head>

<body class="flex flex-col min-h-screen">
  <header>
    <div class="banner h-6">Let us begin with your pet adoption journey</div>

    <nav class="shadow-xl flex justify-between px-10">
      <div id="logo">
        <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.8 32H0V21.9849C0 17.1239 4.0116 13.1839 8.96 13.1839H15.2V0.468341C15.2 0.251458 15.3792 0.0754376 15.6 0.0754376C15.7184 0.0754376 15.8308 0.127301 15.9068 0.216883L17.3616 1.92719C18.402 1.07577 19.74 0.563816 21.2 0.563816H22C23.442 0.563816 24.7656 1.06359 25.8 1.89654L27.2932 0.14066C27.3692 0.0514706 27.4812 0 27.6 0C27.8208 0 28 0.175628 28 0.392904V15.3896H23.36C17.528 15.3896 12.8 20.0337 12.8 25.7623V32Z"
            fill="#45413E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M29.76 17.0569V12.0875C29.76 12.0836 29.76 12.0797 29.76 12.0758V6.79004C29.76 6.57435 29.9392 6.4 30.16 6.4C30.266 6.4 30.3676 6.44095 30.4424 6.51389L31.9576 7.98784C32.7864 7.42501 33.7936 7.09504 34.88 7.09504C35.97 7.09504 36.9808 7.42735 37.8112 7.99369L39.3176 6.52793C39.3924 6.45499 39.494 6.41404 39.6 6.41404C39.8208 6.41404 40 6.58878 40 6.80408V23.2632C40 28.0883 35.9884 32 31.04 32H14.4V25.7938C14.4 20.969 18.4116 17.0569 23.36 17.0569H29.76Z"
            fill="#45413E" />
        </svg>
        Furry <br />paws
      </div>

        <ul class="flex justify-between w-3/5">
            <div class="flex flex-row space-x-8">
                <li>
                    <a href="/aboutus/">About Us</a>
                </li>

                <li>
                    <a href="/contact_view/">Contact Us</a>
                </li>
            </div>

            {% if user.is_authenticated %}
                <!-- User is logged in, show logout button -->
                <div class="flex flex-row space-x-8 mr-36">
                    <li>
                        <a href="/logout_view/">Logout</a>
                    </li>
                </div>
            {% else %}
                <!-- User is not logged in, show login and signup buttons -->
                <div class="flex flex-row space-x-8 mr-36">
                    <li>
                        <a href="/login_view/">Login</a>
                    </li>

                    <li>
                        <a href="/signup/">Sign-Up</a>
                    </li>
                </div>
            {% endif %}
        </ul>
    </nav>
</header>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
  <div class="flex pl-20p ml-10 pt-10 pr-10 ">
    <div class="bg-white rounded-lg shadow-lg border border-[#db7f67] border-3 ">

        <p class="font-serif text-4xl font-semibold font- pt-8 ml-8"> Checklist  </p>

        <!-- head1 questi -->
        <div class=" px-8 hover:bg-[#]">
            <p class=" mt-7 text-2xl font-medium"> new Questions for All Adopters:

            </p>
            <p class=" text-xl pt-5 font-normal"> Do you have any other pets and how will they react to a new pet?
                Is your current residence suited to the pet you're considering?
                How will your social life or work obligations affect your ability to care for a pet?
                Do you have a plan for your new pet during vacations and/or work travel?
                How do the people you live with feel about having a pet in the house?
                Are you (or your spouse, partner or roommate) intolerant of hair, dirt and other realities of sharing your home with a pet, such as allergies?
                </p>
        </div>

        <div class="px-8">
            <p class=" mt-7 ml-8 text-xl "> Size Considerations </p>
            <p class=" ml-8 text-lg pt-5"> What size dog can your home accommodate?
                Will you have enough room if your dog grows to be bigger than expected?
                What size pet would suit the other people who live in or visit your home regularly?
                More likely than not, the adopting agency will charge a fee to help defray the cost of taking in unwanted or lost animals. The adoption fee you pay will be a tiny fraction of the money you will spend over the life of your pet.
            </p>
        </div>

        <div class="px-8">
            <p class=" mt-6 ml-8 text-xl "> Time Considerations:</p>
            <p class=" ml-8 text-lg pb-6 pt-5"> Pets need to be fed two to three times a day, more often in the case of puppies, and need a constant supply of fresh water.
                A responsible pet parent should spend at least one hour per day giving direct attention to his or her pet. This may include training, exercising, grooming, and playing or, with cats, may just be lap time on the couch. Dogs will need to be taken out to potty several times a day.
                A pet with an abundance of energy needs more time to exercise and interactive toys to keep them entertained.
                Pets with long coats need 20 minutes a day of grooming to prevent matting.</p>
        </div>
       

    </div>

    <div class="pr-10"> 
      <a href="/showpets/">
        <button class="DOG  text-[#45413e] font-bold text-l  ml-14  justify-center items-center   w-64 h-84  mt-30p hover:bg-[#6D6875] hover:text-white rounded-lg custom-border shadow-2xl" id="view_all"> 
          <div class="flex flex-col">
              <img src="{%static 'image/carr.jpg'%}" class=" h-64 rounded-lg">
              <div class="m-2">VIEW DOGS AVAILABLE RIGHT NOW.</div>
          </div>
      </button>
       </a>
       <a href="/showcats/">
        <button class="DOG mt-10 ml-14 text-[#45413e] font-bold text-l  justify-center items-center  bg-white w-64 h-84  mt-30p hover:bg-[#6D6875] hover:text-white rounded-lg custom-border shadow-2xl" id="view_all"> 
          <div class="flex flex-col">
              <img src="{%static 'image/carr.jpg'%}" class=" h-64 rounded-lg">
              <div class="m-2">VIEW CATS AVAILABLE RIGHT NOW.</div>
          </div>
      </button>
       </a>
    </div>
  </div>

  
  <div class="bg-white border border-[#db7f67] rounded-lg shadow-3xl m-12">
    <!-- head1 questi -->
    <div class=" pt-2 px-8">
        <p class=" mt-6 text-2xl font-medium "> Shopping Checklist: </p>
        <p class=" text-xl">It may be a good idea to wait until you select your new pet before you begin shopping for supplies. For example, some items, such as food and water bowls or collars and harnesses, depend upon the size of the pet you will be adopting.

            Also, be sure to find out which food your pet was eating in the shelter or foster home so that you can provide the same in the beginning, again to ease the transition. After the pet has settled in, talk with your veterinarian about switching to the food of your choice.</p>
    </div>

    <div class="px-8">
        <p class=" mt-6 ml-8 text-xl "> Necessary Items for Dogs: </p>
        <p class=" ml-8 text-lg"> Food and water bowls
            Food (canned and/or dry)
            Collar
            Four to six-foot leash
            ID tag with your phone number
            Hard plastic carrier or foldable metal crate
            Dog bed
            Doggy shampoo and conditioner
            Nail clippers
            Canine toothbrush and toothpaste
            Brush or comb (depends on your pet's coat length and type)
            Super-absorbent paper towels
            Sponge and scrub brush
            Non-toxic cleanser</p>
    </div>

    <div class="px-8">
        <p class=" mt-6 ml-8 text-xl "> Necessary Items for Cats: </p>
        <p class=" ml-8 text-lg pb-10"> Food and water bowls
            Food (canned and/or dry)
            Litter box and scooper
            Kitty litter
            Collar
            ID tag with your phone number
            Hard plastic carrier
            Nail clippers
            Feline toothbrush and toothpaste
            Brush or comb (depends on your cat's coat length and type)
            Super-absorbent paper towels
            Sponge and scrub brush</p>
    </div>
   

    </div>

    
    <script> 
    document.getElementById('homeButton').addEventListener('click', function() {
        // Change the URL to the home page URL
        window.location.href = 'nav.html';
    });
    </script>    

<script> 
    document.getElementById('view_all').addEventListener('click', function() {
        // Change the URL to the home page URL
        window.location.href = 'dash.html';
    });
    </script>  

  </body>
</html>