{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link src="nav.css">
  </link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <a href="{url 'profile' pet_id=animal.id%}">{{animal.name}}</a>


  <link rel="stylesheet" type="text/css" href="{% static 'css/showpets.css' %}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Tinos:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">

  <!-- Example paths, adjust based on your project structure -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/components.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/tailwindcss/utilities.css' %}">

</head>

<body class="flex flex-col min-h-screen">
  <header>
    <div class="banner h-6">Let us begin with your pet adoption journey</div>

    <nav class="shadow-xl flex justify-between px-10">
      <div id="logo">
        <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.8 32H0V21.9849C0 17.1239 4.0116 13.1839 8.96 13.1839H15.2V0.468341C15.2 0.251458 15.3792 0.0754376 15.6 0.0754376C15.7184 0.0754376 15.8308 0.127301 15.9068 0.216883L17.3616 1.92719C18.402 1.07577 19.74 0.563816 21.2 0.563816H22C23.442 0.563816 24.7656 1.06359 25.8 1.89654L27.2932 0.14066C27.3692 0.0514706 27.4812 0 27.6 0C27.8208 0 28 0.175628 28 0.392904V15.3896H23.36C17.528 15.3896 12.8 20.0337 12.8 25.7623V32Z"
            fill="#45413E" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M29.76 17.0569V12.0875C29.76 12.0836 29.76 12.0797 29.76 12.0758V6.79004C29.76 6.57435 29.9392 6.4 30.16 6.4C30.266 6.4 30.3676 6.44095 30.4424 6.51389L31.9576 7.98784C32.7864 7.42501 33.7936 7.09504 34.88 7.09504C35.97 7.09504 36.9808 7.42735 37.8112 7.99369L39.3176 6.52793C39.3924 6.45499 39.494 6.41404 39.6 6.41404C39.8208 6.41404 40 6.58878 40 6.80408V23.2632C40 28.0883 35.9884 32 31.04 32H14.4V25.7938C14.4 20.969 18.4116 17.0569 23.36 17.0569H29.76Z"
            fill="#45413E" />
        </svg>
        Furry <br />paws
      </div>

      <ul class="flex justify-between w-3/5">
        <div class="flex flex-row space-x-8">
          <li>
            <a href="/aboutus/">About Us</a>
          </li>

          <li>
            <a href="/contact/">Contact Us</a>
          </li>
        </div>

        <div class="flex flex-row space-x-8 mr-36">
          <li>
            <a href="/login/">LOGIN</a>
          </li>

          <li>
            <a href="/signup/">SIGN-UP</a>
          </li>
        </div>
      </ul>
    </nav>

  </header>

  <form action="/showpets/" method="post" id="showpets">

  <div class="flex flex-row flex-1 w-full md:w-auto">
    <div class="bg-white flex">
      <!-- Use flex-row to arrange divs horizontally -->

      {% csrf_token %}

      <div class="flex flex-col bg-[#f6edeb] bottom-1 rounded-lg w-80 my-11 ml-10 mr-5">

        <div class="flex flex-col mt-4 mr-8 ml-8 font-bold ">
          <label for="petname" class="ml-4 mt-2">Pet Name</label>
          <input id="petName" name="petName" type="text" placeholder="Search by pet name" class="mt-2 p-2 rounded-lg">
        </div>

        <div>
          <div class="mt-4 mb-4 mr-8 ml-8">
            <label for="breed" class="block font-bold">Breed</label>
            <select id="breedInput" name="breedInput" class="mt-2 w-full p-2 bg-[#f6edeb] border border-[#db7f67] rounded-lg">
              <option value="" selected>Select</option>
              <option value="German Shepherd">German Shepherd</option>
              <option value="Bulldog">Bulldog</option>
              <option value="French Bulldog">French Bulldog</option>
              <option value="Golden Retriever">Golden Retriever</option>
              <option value="Chow Chow">Chow Chow</option>
            </select>
          </div>
        </div>

        <div class="mb-4 mr-8 ml-8">
          <label for="colour" class="block font-bold">Colour</label>
          <select id="colour" name="colourInput" class="mt-2 w-full p-2 bg-[#f6edeb] border border-[#db7f67] rounded-lg">
            <option value="" selected>Select</option>
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="gold">Gold</option>
            <option value="cream">Cream</option>
          </select>
        </div>

        <div class="mb-4 mr-8 ml-8">
          <label for="behaviours" class="block font-bold">Behaviours</label>
          <select id="behavioursInput" name="behavioursInput"
            class="mt-2 w-full p-2 bg-[#f6edeb] border border-[#db7f67] rounded-lg">
            <option value="" selected>Select</option>
            <option value="Digging">Digging</option>
            <option value="Eating Poop">Eating Poop</option>
            <option value="Head Pressing">Head Pressing</option>
            <option value="Scooting">Scooting</option>
            <option value="Yawning">Yawning</option>
            <option value="Biting">Biting</option>
            <option value="Circling">Circling</option>
          </select>
        </div>

        <div class="mb-4 mr-8 ml-8 ">
          <label for="behaviours" class="block font-bold ">Age</label>
          <select id="ageInput" name="ageInput" class="mt-2 mt-2 w-full p-2 bg-[#f6edeb] border border-[#db7f67] rounded-lg">
            <option value="" selected>Select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
          </select>
        </div>

        <div class="mb-4 mr-8 ml-8 ">
          <label for="behaviours" class="block font-bold ">Weight</label>
          <select id="sizeInput" name="sizeInput" class="mt-2 mt-2 w-full p-2 bg-[#f6edeb] border border-[#db7f67] rounded-lg">
            <option value="" selected>Select</option>
            <option value="10-20 small lbs">Sneha ko Weight</option>
            <option value="30-40 lbs medium">2 Standard Pillows</option>
            <option value="50-60 lbs large">2 King Pillows</option>
            <option value="70-80 lbs xl">3 King Pillows</option>
          </select>
        </div>
    <button type="submit" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Search</button>

  </div>
</div>
</form>

<div class="flex flex-wrap justify-evenly my-11 ml-5 mt-5">
  {%for n in animalData %}

  <div class="flex flex-col bg-[#f6edeb] w-52 mr-8 h-80  -ml-4 rounded-lg border border-[#db7f67] mt-6">
    <div class="flex flex-col items-center justify-center my-4 font-bold">

      {% if n.image %}
      <td>
        <img src="{{ request.scheme }}://{{ request.get_host }}{{ n.image.url }}" alt="Image "
          class="w-40 h-auto mb-4 rounded-lg">

      </td>
      {% else %}
      <td>
        <img src="{% static 'image/aston.jpeg' %}" alt="Image Description" class="w-40 h-auto mb-4 rounded-lg">
      </td>
      {% endif%}

      <p class="text-xl mb-2"> NAME: {{n.name}}</p>
      <p class="text-lg"> Age: {{n.age}} </p>
      <a href="{% url 'profile' animal_type='dog' pet_id=n.pet_id %}">Dog Profile</a>
    </div>
  </div>
  {% endfor %}

  <!-- </div> -->



</div>

</div>

<style>
.footer {
  font-size: 16px;
  padding: 10px 0px;
  color: #db7f67;
  border-color: #db7f67;
}

.footer .copyright {
  text-align: left;
  color: white;
  padding-left: 20px;
}

.copyright:hover {
  color: #db7f67;
}

.social-icons {
  text-align: right;
}

.social-icon {
  color: #db7f67;
  font-size: 16px;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

#footer:hover {
  background-color: #f6edeb;
}
</style>

<footer id="footer" class="footer mt-auto bg-[#db7f67] border border-[#f6edeb] hover:bg-[#f6edeb]">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="copyright">
        &copy; FURRY PAWS - <strong><span>Home to many Animals and a place for ADOPTION</span></strong>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
</footer>

</body>

</html>