{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <a href="/dash"></a>
    <link rel="stylesheet" href="{%static 'css/'%}" />
    <link rel="stylesheet.css" th:href ="@{Signup.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
    .customcontainer{

        width: min(800px,80%);
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<!-- Main container -->

<div class = "customcontainer d-flex justify-content-center align-items-center min-vh-100">

    <!-- Login Container -->
    <div class="row border rounded-3 p-3 bg-white shadow box-area">

        <!-- Left Box -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="featured-image mb-3">
                <img src="{%static 'image/cover.jpg'%}" class="rounded-4 " style="width: 395px;" alt="">
            </div>
            <p class ="text-white fs-2" style="font-family:'Courier New',Courier, monospace ; font-weight: 800;"></p>
            <small class="text-white text-wrap text-center" style="width: 17rem; font-family: 'Courier New', Courier, monospace;"></small>
        </div>

        <!-- Right Box  -->
        <form action="/save" id="signup" method="post" class="col-md-6 right-box">
    {% csrf_token %} 
            <div class="row align-items-center">
                <div class="header-text mb-4 " >
                    <h2>Sign Up!</h2>
                    <p>To start your new journey!</p>
                </div>
                <div class="input-group mb-10">
                    <input type="text" id="name_input" class="form-control-lg bg-light fs-6" placeholder="Name" name="name_input" style="width: 100%">
                <div class="input-group mt-2">
                    <input type="text" id="email_input" class="form-control-lg bg-light fs-6" placeholder="Email Address" name="email_input" style="width: 100%">
                </div>
                <div class="input-group mt-2">
                    <input type="password" id="password_input" class="form-control-lg bg-light fs-6" placeholder="Password" name="password_input" style="width: 100%;">
                </div>

                <div class="input-group mb-1 mt-2">
                    <input type='password' id="con_password_input" class="form-control-lg bg-light fs-6" placeholder="Confirm Password" name="con_password_input" style="width: 100%;" />
                </div>

     

            <div class="input-group mb-5 d-flex">
                <div class="form-check mr-2" >
                    <input type="checkbox" class="form-check-input" id="formCheck">
                    <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                </div>

            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-lg w-100 fs-6" style="background-color: #db7f67;">Sign Up</button>
            </div>

            <div class="row">
                <small>Already have an account?<a href="/login"> Log In</a></small>
            </div>
            
        </div>
        
    </form>
    </div>

</div>
</body>
</html>